<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feeds/announcements.xml">
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feeds/modules.xml">
<script async defer data-domain="privacy-decal.com" src="https://plausible.privacy-decal.com/js/plausible.js"></script>
